@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700');

:root {
  --colorWhite: #ffffff;
  --lightGrey: #5D5F6D;
  --darkGrey: #2B2D42;
  --lightBlue: #0353A4;
  --darkBlue: #0F084B;
}

/* BACKGROUND */
body {
  background-image: url('Images/homeBackgroundImage.jpg');
  background-size: cover;
  font-family: 'Noto Sans';
}

/* TEXT */
h1 {
  font-weight: 700;
  font-size: 85px;
  color: var(--darkBlue);
  padding-bottom: 10px;
  text-shadow: 1px 1px 5px;
}

h3 {
  font-size: 40px;
  color: var(--colorWhite);
}

/* NAVIGATION BAR */
ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--darkGrey);
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 24px;
  text-decoration: none;
  font-size: 18px;
}

li a:hover:not(.active) {
  background-color: var(--lightGrey);
  border-radius: 50px;
}

.active {
  background-color: var(--lightBlue);
}

nav, .grid-container {
  width: 100%;
  padding: 0px;
  margin: 0px;
  margin-left: 0px;
}

.grid-container {
  max-width: 100%;
}

nav .grid-8 {
  padding: 0px;
}

/* HEADER */
.header {
  border-left: 4px solid;
  margin-top: 100px;
  padding: 2%;
  margin-right: 10%;
}
