:root {
  --colorWhite: #ffffff;
  --lightGrey: #494850;
  --darkGrey: #2B2D42;
  --lightBlue: #0353A4;
  --darkBlue: #0F084B;
}

/* BACKGROUND */
body {
  background-image: url('Images/homeBackgroundImage.jpg');
  background-size: cover; 
}

/* NAVIGATION BAR */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: var(--lightGrey);
  position: fixed;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 24px;
  text-decoration: none;
  font-size: 24px;
}

li a:hover:not(.active) {
  background-color: var(--darkGrey);
}

.active {
  background-color: var(--lightBlue);
}
